.footer__column-link {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #F2F2F2;
    transition: color 0.9s;
   }
  
.footer__column-link:hover {
  color: #ed6742;
  transition: color 0.1s;
}