.footer__column-link {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #F2F2F2;
    transition: 0.7s;
   }
  
.footer__column-link:hover {
    transition: 0.1s;
    opacity: 0.5;
}