.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    transition: 0.7s;
    text-decoration: none;
}

.khan__buy-link:hover {
    transition: 0.1s;
    opacity: 0.5;
  }